@import url("font-awesome.min.css");
@font-face {
    font-family: 'logo-font';
    src: url('../fonts/uni-sans.heavy-caps.otf');
}


html, body {
    background-color: #2C2F33;
    height: 100%;
	font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
	display: flex;
	flex-direction: column;
}

form {
    margin: auto;
}


footer {
	text-align: center;
  	flex-shrink: 0;

}
html, body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}


.flex-centered {
    display: flex;
}


.project-name {
    color: #FFFFFF;
    font-family: logo-font, Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16ex;
    horiz-align: center;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.slogan {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: 0;
    horiz-align: center;
    text-align: center;
}


.discord-button {
    -webkit-transition: all .12s ease-out;
    background-color: #7289da;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 15px 25px;
    position: relative;
    text-transform: uppercase;
    top: 0;
    border: 0;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
    transition: all .12s ease-out;
    /*-webkit-box-sizing: border-box;*/
}
.discord-button:hover {

    -webkit-box-shadow: 0 4px 14px 0 rgba(#000000 .4);
    -webkit-transform: translate3d(0,-1px,0);
    box-shadow: 0 4px 14px 0 rgba(#000000 .4);
    background-color: #677bc4;
}

.discord-button:active{
	-webkit-box-shadow: 0 4px 14px 0 rgba(#000000 .4);
    -webkit-transform: translate3d(0,2px,0);
    box-shadow: 0 4px 14px 0 rgba(#000000 .4);
    background-color: #677bc4;
}

.discord-button.success{
	background-color:#43b581
}

.discord-input {
    background-color: rgba(0,0,0,.1);
    border-color: rgba(0,0,0,.3);
    color: #f6f6f7;
    -webkit-box-sizing: border-box;
    -webkit-transition: background-color .15s ease,border .15s ease;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    transition: background-color .15s ease,border .15s ease;
    width: 100%;
    padding: 4%;
}

.discord-input:hover {
    border-color: #040405;
}



/* Image & Icon */
.icon {
	-moz-perspective: 500px;
	-webkit-perspective: 500px;
	-ms-perspective: 500px;
	perspective: 500px;
}

.image.icon:before {
	-moz-transition: -moz-transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
	-webkit-transition: -webkit-transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
	-ms-transition: -ms-transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
	transition: transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
	color: #fff;
	font-size: 6em;
	height: 1em;
	left: 50%;
	line-height: 1em;
	margin: -0.5em 0 0 -0.5em;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 1em;
	z-index: 1;
}

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
	color: #ffffff;
	cursor: default;

}

.icon:hover:before {
	-moz-transform: translateZ(1em);
	-webkit-transform: translateZ(1em);
	-ms-transform: translateZ(1em);
	transform: translateZ(1em);
}

.icon:hover:after {
	opacity: 1;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

/* List */

ol.default {
	list-style: decimal;
	padding-left: 1.25em;
}

ol.default li {
	padding-left: 0.25em;
}

ul.default {
	list-style: disc;
	padding-left: 1em;
}

ul.default li {
	padding-left: 0.5em;
}

ul.icons {
	cursor: default;
}

ul.icons li {
	display: inline-block;
	font-size: 1.25em;
	line-height: 1em;
	padding-left: 0.5em;
}

ul.icons li:first-child {
	padding-left: 0;
}

ul.icons li a, ul.icons li span {
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	border-radius: 100%;
	border: solid 1px rgba(224, 224, 224, 0.75);
	display: inline-block;
	height: 2em;
	line-height: 2em;
	text-align: center;
	width: 2em;
}

ul.icons li a:hover, ul.icons li span:hover {
	background: rgba(224, 224, 224, 0.15);
}

ul.actions {
	cursor: default;
	text-align: center;
}

ul.actions:last-child {
	margin-bottom: 0;
}

ul.actions li {
	display: inline-block;
	padding: 0 0 0 1.5em;
}

ul.actions li:first-child {
	padding: 0;
}

ul.actions.vertical li {
	display: block;
	padding: 1.5em 0 0 0;
}

ul.actions.vertical li:first-child {
	padding: 0;
}

ul {
	padding-left: 0;
}
