<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Concord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="flex-centered">
    <h2 class="project-name">CONCORD</h2>
</div>
<div class="flex-centered">
    <p class="slogan">Visualize Your Discord Server</p>
</div>
<div class="flex-centered">

<form id="form" class="token-form">
    <p>
        <input class="discord-input"  required id="token" name="token"
               placeholder="Discord Token"/>
    </p>
    <p>
        <input  class="discord-input" required id="server_name" name="server_name"
               placeholder="Discord Server Name"/>
    </p>
    <p style="justify-content: center;display: flex;">
        <input class="discord-button button-colors" type="submit"
               value="Lets Get Visual"/>
    </p>
</form>
</div>
</body>
</html>